@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

body {
    font-family: 'Cairo', sans-serif;
}

#overlay.active {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    opacity: 70% !important;
    animation: slideDown 1s ease-in-out;
}

#overlay {
    animation: slideDown 1s ease-out;
}

@keyframes slideDown {
    0% {
        transform: translate(0%, 0%);
        width: 10%;
        height: 10%;
    }

    25% {
        transform: translate(90vw, 0%);
        width: 10%;
        height: 10%;
    }

    50% {
        transform: translate(90vw, 45vh);
        width: 10%;
        height: 10%;
    }

    75% {
        transform: translate(0vw, 45vh);
        width: 10%;
        height: 10%;
    }

    100% {
        transform: translate(50vw, 50vh) translate(-50%, -50%);
        width: 100%;
        height: auto;
        opacity: 1;
    }
}


#modal.active {
    top: 5%;
    opacity: 1 !important;
    transform: scale(1) !important;
    transition: all 0.5 ease-in-out;
    pointer-events: auto;
}

